
.model-header {
    min-height: 35px;
    border: 1px solid #8BB;
    margin-right: 5px;
    padding: 0.4em .8em;
    background-color: #CCFFFF;
    font-weight: bold;
    font-size: .95em;
    border-radius: 5px;
    /*margin: 0em 0.5em 0 0; */
}

.model-processbox {
    border:1px #ccc solid;
    margin: 0 0 .5em 0;
}


label.selector {
    display: block;
    font-weight: bold;
    font-size: .85em;
    margin:0px;
    margin-top:5px;
    padding-bottom:0px;
    vertical-align: top;
}

.select_widget {
    margin:0px;
    padding:0px;
}

.select_widget {
   width: 210px;
   min-width: 210px;
   font-size: .75em;
   /* margin-bottom: .75em; */
}




.model-dataset_title {
   font-weight: bold;
   text-align: center;
}

.model-dataset {
    padding: 10px;
}


.header {
    border: 1px solid blue;
    padding: 0.2em .8em;
    background-color: #CCFFFF;
    font-weight: bold;
    margin: 1em 0.5em 0 0;
    /*text-align: center;*/
}

.titled_border { 
    border: 1px solid black; 
    margin-top: 1em;
    margin-bottom: .75em;
    border-radius: 5px;
}

.titled_border #title { 
    position: relative; 
    top : -0.8em;
    margin-left: 1em;
    margin-top: 1em;
    display: inline; 
    background-color: white; 
    color: black; 
    font-weight: bold;
    font-size: .9em;
}

.titled_border #content {
    padding: 0 0 .7em .5em;
    text-align: left;
    border: none;
    margin-left: .25em;
    margin-right: .25em;
}

.formtable td {
    font-size: .9em;
}

.ui-button {
    font-size: 95%;
    font-weight: bold;
    padding: 0.2em .5em !important;
    border: 1px solid black;
    border-radius: 5px;
    background: lightblue;
}

.helptext {
    font-size: 95%;
    width: 500px;
    margin-left: 4em;
    border: 1px solid black;
    padding: 1em;
    /*
    padding-left: 1em;
    padding-right: 1em;
    */
    border-radius: 5px;
    /*background-color: #CFF;*/
    margin-top: 1em;
    /*
    min-height: 550px;
    */
}
    
div.padded {  
    padding-top: 1em;  
    padding-right: 1em;  
    padding-bottom: 1em;
    padding-left: 1em;  
}  
    