
.model-header {
    border: 1px solid blue;
    padding: 0.2em .8em;
    background-color: #CCFFFF;
    font-weight: bold;
    font-size: .95em;
    /*margin: 0em 0.5em 0 0; */
}

.model-processbox {
    border:1px #ccc solid;
    margin: 0 0 .5em 0;
}

label.selector {
    display: block;
    font-weight: bold;
    font-size: .85em;
    vertical-align: top;
}

.select_widget {
   width: 210px;
   min-width: 210px;
   font-size: .75em;
   /* margin-bottom: .75em; */
}

.model-dataset_title {
   font-weight: bold;
   text-align: center;
}

.header {
    border: 1px solid blue;
    padding: 0.2em .8em;
    background-color: #CCFFFF;
    font-weight: bold;
    margin: 1em 0.5em 0 0;
    /*text-align: center;*/
}

.titled_border { 
    border: 1px solid blue; 
    margin-top: 1em;
    margin-bottom: .75em;
    border-radius: 5px;
}

.titled_border #title { 
    position: relative; 
    top : -0.8em;
    margin-left: 1em;
    margin-top: 1em;
    display: inline; 
    background-color: white; 
    color: blue; 
    font-weight: bold;
    font-size: .9em;
}

.titled_border #content {
    padding: 0 0 .7em .5em;
    text-align: left;
    border: none;
    margin-left: .25em;
    margin-right: .25em;
}

.formtable td {
    font-size: .9em;
}