
.display {
}

.display input {
}

.display .formlabel {
//   font-size: 80%;
//   font-weight: normal;
}

.display-dialog {
   display: none;
   text-decoration: none;
   border : 1px #aaa solid;
   background-color : #Eee;
   position:absolute;
   left:-10000px; 
   z-index: 10000;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  /* IE */
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color='gray');
  /* slightly different syntax for IE8 */
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color='gray')";
}


.display-dialog-button {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 2px;
    margin-bottom:1px;
    border:1px #ccc solid; 
    background-color: #efefef;
}

.display-dialog-button:hover {
    border:1px #aaa solid; 
    background-color: #e0e0e0;
}

.display-dialog-header {
   padding:2px;
   border-bottom:1px #888 solid; 
}

.display-dialog-contents {
   padding:0px;
}




.display-dialog-header:hover {
    background-color: #e4e4e4;
}


.display-dialog-close {
   padding:2px;
   cursor:pointer;
}


.display-link {
    cursor:pointer;
}






.display-metadatalist-item {
    max-width: 200px;
}

.display-container {
   margin:10px;
}


.display-loading {
    color: #aaa;
}

.display-message {
    margin:10px;
}




.display-typelist {
   max-width:200px;
   padding: 0px;
   margin: 0px;
}

.display-typelist-category {
   font-weight: bold;
//   padding-bottom:3px; 
//   padding-top:3px; 
//   margin-top: 5px;
   background-color: #efefef;
   border-top: 1px #aaa solid;
//   border-bottom: 1px #ccc dotted;
//   margin-bottom: 4px;
}



.display-typelist-type {
//   padding-bottom:3px; 
//   padding-top:3px; 
 //   min-height: 16px; 
//   margin-left:10px;  
//   padding-left: 20px;
}

.display .entry-toggleblock-label  {
   color: #000;
   font-weight: bold; 
}


.display-menu {
}

.display-menu-entry {
     padding-top:5px;
}

.display-menu-item {
     border-top: 1px #aaa solid;
     padding:5px;
}



.display-button {
}

.display-button .ui-button-text {
   padding-top:4px;
   padding-bottom:2px;
   padding-left:10px;
   padding-right:10px;
}

.display-title {
   font-weight: bold; 
}

.display-title-select {
    background: #e0f0ff; 
}

.display-animation {
   border-top:1px #ccc solid; 
   padding:5px;
}

.display-animation-button {
    background-color:  #fff;
    margin: 1px;
}

.display-animation-button:hover {
    background-color:  #ccc;
}


.display-message {
     margin: 10px;
}


.display-search-input {
  padding-left: 5px;
  border-radius: 5px;
  font-size: 11pt;
}

.display-search-extra {
   margin-top:12px;
   margin-bottom:12px;
}


.display-search-extra-label {
}

.display-search-extra-inner {
   padding-left:15px;
//   border-bottom: 1px #ccc solid;
}


//Each of the below are of the form:
//.display-<display type> {
//}
//.display-<display type>-inner {
//}

.display-contents {
//   border-top:1px #ccc solid; 
//   border-bottom:1px #ccc solid; 
}


.display-contents-inner {
}


.display-text {
}

.display-text-inner {
   border:1px #ccc solid; 
   overflow-y: auto;
   max-height: 300px;
}

.display-example {
}

.display-example-inner {
   border:1px #ccc solid; 
   overflow-y: auto;
   max-height: 300px;
}


.display-entrydisplay {
   border:0px;
   border-top:1px #ccc solid; 
   border-bottom:1px #ccc solid; 
   padding:5px;
}

.display-area-link {
   margin:0px;
   cursor:pointer;
}

.display-area td {
      padding-top: 1px;
      padding-bottom: 1px;
}

.display-area-input {
    margin:0px;
    padding:0px;
    margin-left:2px;
    margin-right:2px;
}

.display-entry-popup {
   display: none;
//   left:-10000px; 
//   z-index: 5000;
   border-top : 1px #888 solid;
   border-bottom : 1px #888 solid;
   padding: 5px;
   background-color : #fff;
//   position:absolute;   
//   min-width: 200px;
//   max-width: 400px;
}

.display-entrylist {

}

.display-repositories-select {
   max-width:200px;
   padding: 0px;
   margin: 0px;
}

.display-repositories-table {
}


.display-repositories-table-header {
}


.display-repositories-table th {
    background-color: #efefef;
}


.display-repositories-table th a {
    color: #000;
}

.display-repositories-table-type {
}

.display-repositories-table-type-has {
}

.display-repositories-table-type-hasnot {
}



.display-entries-results {
   padding-left: 3px;
   padding-right: 3px;
   margin-bottom: 1px;
//   font-style:italic;
}






.display-metadata {
   border-bottom:1px #ccc solid; 
}

.display-metadata-table {
     border:1px #888 solid;
     border-collapse:collapse; 
}

.display-metadata-table-cell {
     border:1px #888 solid;
}

.display-metadata-table  th {
    background-color: #efefef;
}

.display-metadata-item {
     border-bottom: 1px #ccc dotted;
     padding:2px;
}


.display-metadata-link {
   cursor:pointer;
}

.display-metadata-entrylink {
    max-width: 200px;
}

.display-metadata .display-entries-content   { 
   min-width: 250px;
   min-height: 200px;
   overflow-y: auto;
   max-height: 300px;
//   margin: 4px;
}


.display-footer {
   padding: 4px;
   padding-top: 0px;
}

.display-footer-left {
   font-size: 80%; 
}

.display-footer-right {
   min-width: 200px;
   font-weight: bold; 
   font-size: 80%; 
}


.display-entrylist-list  .ui-selected { 
     background: #e0f0ff; 
}

.display-entrylist-list { 
        list-style-type: none; 
        margin: 0; 
        padding: 0; 
}

.display-entrylist-list li { 
      vertical-align: center;
//       padding-left:6px; 
//       border-bottom:1px #efefef solid; 
}



.display-entrylist-entry {
//   padding-left:2px;
// padding-top:5px;
   padding:0px;
   margin: 0px;
//   border-bottom: 1px #ccc solid;
   cursor:pointer;
}


.display-entrylist-entry-main {
   padding: 4px;
   padding: 4px;
}

.display-entrylist-entry-main:hover {
   background-color: #f0f0f0; 
}


.display-entrylist-list li:hover { 
//    background: #f0f0f0; 
}


.display-entrylist-details {
   display: none;
//   border-top : 1px #888 solid;
//   border-bottom : 1px #888 solid;
    padding: 0px;
//   background-color : #fff;
}


.display-entrylist-details-inner {
    padding-left: 16px;
}


.ui-selected  .display-entrylist-details {
   background-color : #fff;
}

.display-entrylist .display-entries-content   { 
   min-width: 250px;
   min-height: 200px;
   border:1px #ccc solid; 
   overflow-y: auto;
   max-height: 300px;
//   margin: 4px;
}

.display-entry-toolbar {
   display: none;
   z-index: 10000;
   left:-10000px; 
   position: absolute;
   margin:0px;
   padding-left:5px;
   padding-right:5px;
//   background-color: #efefef;
}

.display-entry-toolbar img {
   border: 1px transparent solid;
   padding-left: 1px;
   padding-right: 1px;
}


.display-entry-toolbar img:hover {
   border: 1px #aaa solid;
}



.display-operands {
}

.display-operands-inner {
   border:1px #ccc solid; 
   padding: 10px;
}

.display-map {
}

.display-map-map {
     min-width:200px; 
     min-height:200px; 
     border:1px #ccc solid; 
}

.display-map-latlon {
//    margin-top: 3px;
}

.display-linechart .display-barchart   {
    border: 1px #ccc solid;
//    min-height:150px;
}

.display-linechart-inner .display-barchart-inner  {
//    min-height:150px;
}



.display-header {
   margin-left:10px;
   margin-top:10px;
   font-weight: bold; 
}

.chart-submenu
{
  padding: 5px;
}

.chart-submenu li
{
  list-style: none;
  padding-top: 2px;
  padding-bottom: 2px;
}

.chart-submenu li:hover
{
  background-color: #fcf7bd;
}





.display-fields {
//   padding-right:4px;
//   padding-left:4px;
   padding-top:0px;
   padding-bottom:0px;
   min-width: 250px; 
   max-width: 400px; 
   border-bottom: 1px #888 solid;
   overflow-y: auto;
   max-height: 100px;
}


.chart-entry-list-wrapper { 

}

.entry-list-entry {
   border-bottom: 1px #ccc solid;
}

.chart-entry-list-wrapper {
   max-width: 200px;
   background: red;
}

.chart-entry-list {
   padding: 5px;
   overflow-x: auto;
   overflow-y: auto;
   max-height: 600px;
   border: 1px #000 solid;
}

