

table, tr, th, td {
      font-size: 100%;
      font: inherit;
}

body {
   font-family:  Arial, Helvetica, sans-serif;
   color: black;
   margin: 0px;
   font-size: 11pt;
}

a {
   color: #0000FF;
   text-decoration: none;
}

a:link {
   color: #0000FF;
}

a:hover {
   color: #FF0000;
   text-decoration: underline;
}

ul {
   margin-top:5px;
}

form {
    margin:0px;
    padding: 0px;
}

.input, .password, .fileinput,.textarea,.select {
  border : 1px #888888 solid;
}

.input:focus, .textarea:focus {
	background: #fffeec;
}

.ramadda-confirm-entries {
   font-weight: bold; 
   margin:15px;
   margin-left:25px;
}

.shadow-box {
   border : 1px #ccc solid;
   padding: 10px;
   margin:5px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}



.ramadda-system-message {
   margin:4px;
   padding:4px;
//   background-color: #ff0000;
   border: 1px solid #666;
   font-weight: bold; 
}

.disabledinput {
   border : 0px #888888 solid;
   background: #dfdfdf;
}

.hiddeninput {
  border :none;
}

.ramadda-required {
   background: #ffaaaa;
}

.ramadda-required-field {
   color: red;
}

.ramadda-required-disabled {
    border : 0px #888888 solid;
    background: #ffaaaa;
}

.ramadda-required-label {
   color: #ff0000;
}

.ramadda-highlight {
   font-weight: bold; 
   background: #FFFFCC;
   padding: 5px;
}

.ramadda-error-label {
    color:#F00;
    font-weight: bold;
}



.ramadda-popup {
   padding:1px;
   text-decoration: none;
   border : 1px #888 solid;
   background-color : #FFFFFF;
   position: absolute; 
   left:-10000px; 
   z-index: 10000;
//Shadow effect
  /* offset left, top, thickness, color with alpha */
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  /* IE */
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color='gray');
  /* slightly different syntax for IE8 */
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color='gray')";
}






.ramadda-popup a:hover {
   text-decoration: underline;
   color:black;
}

.ramadda-popup-box {
   padding:1px;
   border : 1px #888 solid;
   background-color : #FFFFFF;
//Shadow effect
  /* offset left, top, thickness, color with alpha */
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  /* IE */
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color='gray');
  /* slightly different syntax for IE8 */
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color='gray')";
}




.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  width:394px;
  z-index:50;
  padding: 25px 25px 20px;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}



.ramadda-harvester-active {
  background: #FFFFCC;
//  background-color: #ddd;
}

.ramadda-comment-block {
   border-bottom : 1px #aaaaaa dashed;
   padding-bottom:5px;
   margin-bottom:10px;
}

.ramadda-comment-commenter {
   font-style:italic;
}

.ramadda-comment-subject {
   font-weight:bold;
}

.ramadda-comment-inner {
    padding-left:20px;
}

.ramadda-comment-date {
   font-style:italic;
}

.ramadda-separator {
   font-size: 9pt;
//   font-weight: bold;
//   color:#666666;
}


.ramadda-earth-container {
   border: 1px solid #888;
}

.ramadda-earth-entries {
   min-width: 150px;
//   max-width: 250px;
   min-height:200px;
   overflow-x: auto;
  white-space:nowrap; 
}


.ramadda-earth-nav {
   margin-top:1px;
   margin-left:10px;
   padding:2px;
   color: #000000;
}

.ramadda-earth-link:link {
    color: #000000;
}

.ramadda-earth-link:hover {
//    color: #ff0000;
}

.ramadda-user-field {
   padding-left: 18px;
   border : 1px #888888 solid;
   background: URL(${urlroot}/icons/user.png) no-repeat;
   background-position: 1px 1px;
}

.ramadda-heading-1 {
   border-bottom: 1px #999 solid;
   font-weight: bold;
   padding-left: 10px;
   padding-top: 3px;
   padding-bottom: 0px;
   margin-bottom:4px;
   margin-top:4px;
}

.ramadda-heading-2 {
   margin:0px;
   padding:0px;
   padding-bottom: 0px;
   padding-left: 5px;
   padding-top: 0px;
   font-weight: bold;
   vertical-align: bottom;
   font-size: 12pt;
}


a.ramadda-heading-2-link {
   color:black;
   text-decoration: none;
}


a..ramadda-heading-2-link:visited {
   text-decoration: none;
}


.ramadda-datetime {
   font-size:9px;
   color:#666;
   font-style:italic;
   margin:0px;
   white-space:nowrap;
}

.ramadda-logo {
   margin: 5px;
   margin-left: auto;
   margin-right: auto;
   text-align:center;
}

.ramadda-acknowledgement, .ramadda-acknowledgement a {
   text-align: center;
   font-style:italic;
   font-family: Arial;
   font-size: smaller;
   padding-bottom:10px;
}


.ramadda-footer {
   margin:10px;
   margin-left: auto;
   margin-right: auto;
   text-align:center;
}

.ramadda-smalllink {
  font-size:80%;
}

.ramadda-smallhelp {
   font-size: 9pt;
}

.ramadda-stack {
  background-color : #eee;
  border: 1px #666666 solid;
  margin-left:10px;
}

.ramadda-header-title {
  font-size: 200%;
}

.ramadda-header a  {
    color:#000;
    font-weight:bold;
}

.ramadda-header a:hover  {
   color:red;
}

.entryheader {
   border-bottom : 1px #ccc solid;
   margin-bottom:5px;
}

.entryname {
//   font-size: 130%;
   margin-top:3px;
   padding-left:15px;
   font-weight: bold;
   vertical-align: bottom;
}

.entryname a:hover {
   text-decoration: underline;
   color:#0000ff;
   color:#ff0000;
}

.entryname a {
   color: #000000;
}



.ramadda-menubar {
   background-repeat: repeat-x;
//   background-image:url(${urlroot}/images/gradient.jpg);
   padding-left:10px;
   padding-top:2px;
   padding-bottom:2px;
   border-top: 1px #ccc solid; 
}

.ramadda-menubutton {
    margin:0px;
    margin-left:2px;
    margin-right:2px;
    padding:0px;
    padding-left:3px;
    padding-right:3px;
    color: #000000;
//    font-weight: bold;
    text-decoration: none;
}

.ramadda-menubutton:link {
  text-decoration: none;
  color: #000000;
}

.ramadda-menubutton:hover {
  text-decoration: none;
  color: #000000;
  background-color: #eee;
  text-decoration: underline;
}




.ramadda-menubutton-separator {
    padding:0px;
    margin:0px;
    margin-bottom:3px;
}

.ramadda-menubutton-separator:after {
    content: "|";
}

.ramadda-menuitem-row {
}

.ramadda-menuitem-td {
   margin-left:2px;
   margin-right:2px;
   margin-top:1px;
   margin-bottom:1px;
   padding-bottom:2px;
}

a.ramadda-menuitem-link:hover {
   text-decoration: underline;
   color:#000;
}

a.ramadda-menuitem-link {
   text-decoration: none;
}

.ramadda-menuitem-link {
    color: #000000;
    font-weight: normal;
}

.ramadda-menuitem-link:visited {
    color: #000000;
}

.ramadda-menuitem-link:link {
    color: #000000;
}

.ramadda-menuitem-link a {
   text-decoration: none;
}

.ramadda-menuitem-link a:hover {
   color:#000000;
}


.ramadda-menuitem-separator {
    margin:2px;
    margin-bottom:3px;
    padding:0px;
}




.ramadda-server {
   max-height: 350px; 
   overflow-y: auto;
   margin-left:20px;
}

.ramadda-server-block {
   max-height: 100px; 
   overflow-y: auto;
   margin-left: 20px;
}


.hidden {
   visibility: hidden; 
   display:none;
}

.ramadda-entry-table {
   max-height: 400px; 
   overflow-y: auto;
}


.ramadda-entry-row {
  margin-top:2px;
  border:1px #fff solid;
}


.ramadda-entry-row-label {
    font-style:italic;
    white-space:nowrap;
}




.ramadda-folder-block {
   border : 0px;
   margin:0px;
   padding:0px;
   padding-left:12px;
}

.image-outer {
  border: 1px solid #aaa;
  margin:10px;
  padding:10px;
  margin-bottom:20px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  /* IE */
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='gray');
  /* slightly different syntax for IE8 */
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=2, OffY=2, Color='gray')";
}

.image-inner {
   background-color:#F2F0F0;
   margin:2px;
   text-align:center;
}

.image-caption {
     font-size: 10pt;
     color: #666;
}

a.image-link {
     font-size: 10pt;
     color: #999;
}



.inline {
   max-height: 300px; 
   overflow-y: auto;
}

.sortlinkon  {
  font-size: 10pt;
  background-color : #eee;
  font-weight: bold;
  padding-left:2px;
  padding-right:2px;
}

.sortlinkoff  {
  font-size: 10pt;
  padding-left:2px;
  padding-right:2px;
}

.sortlinkoff a {
   font-size: 10pt;
   color:black;
   text-decoration: none;
}


.subheader-container {
   margin-top:10px;
}

.subheader {
   display:inline;
}

.subheader-sep {
}

.subheader-on, .subheader-off  {
   margin-left:3px;
   margin-right:3px;
   padding-top: 0px;
   padding-left: 2px;
   padding-right: 2px;
}

.subheader-on {
   font-weight: bold;
}

.subheader-off a {
}

.arrow {
      margin-right: 2px;
      margin-bottom:4px;
}

.nav {
   font-weight: bold;
   color: black;
}

.metadatagroup {
  padding-right: 5px;
}


.subnav {
   margin:10px;
   margin-left:0px;
   padding:1px;
   min-height: 500px;
   font-weight: bold;  
}

.subnav a:hover  {
   color:red;
}

.subnavoncomp  {
   background-color:#ffffff;
   border: 1px #000 solid; 
   border-bottom: 1px white solid; 
   padding-left:5px;   
   padding-right:5px;   
   padding-top:1px;   
   padding-bottom:0px;   
   font-weight: bold;  
   margin:3px;
}

.subnavoffcomp  {
   background-color:#efefef;
   border: 1px #000 solid; 
   border-top: 1px #999 solid; 
   border-left: 1px #999 solid; 
   border-right: 1px #999 solid; 
   padding-left:5px;   
   padding-right:5px;   
   padding-top:2px;   
   padding-bottom:0px; 
   font-weight: bold;  
}

.subnavoffcomp, .subnavoncomp    {
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
   -moz-border-radius-topleft: 6px;
   -moz-border-radius-topright: 6px;
   -webkit-border-top-left-radius: 6px;
   -webkit-border-top-right-radius: 6px;
   margin-left:3px;
   margin-right:3px;
   padding-top:3px;
}

.subnavoffcomp  a, a.subnavoffcomp, .subnavoffcomp a:visited {
   color:#444;
}

.subnavoffcomp a:hover {
   color:red;
}

.cimg {
    text-align:center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.caption {
    text-align:center;
    font-style:italic;
}

.pagetitle {
    font-size: 130%;
    font-weight: bold;
    color: #8080C0;
    margin-top: 15px;
    margin-bottom: 5px;
}

.pagesubtitle {
    font-size: 120%;
    font-weight: bold;
    color: #8080C0;
    margin-top: 10px;
    margin-bottom: 5px;
}

.childlist-level {
    font-weigt:bold;
    color: #8080C0;
    margin-top: 10px;
    margin-bottom: 5px;
}

.childlist {
    margin: 10px;
    margin-left: 30px;
}


.pagesubsubtitle {
    font-weight: bold;
    color: #8080C0;
    margin-top: 5px;
    margin-bottom: 5px;
}


.wikicontent {
     margin:0px;
     padding:0px;
}


.wiki-text-raw {
    background-color: #ddd;
    border:1px #888 solid;
    padding:4px;
    font-style: italic;
}



.wiki-infobox {
   margin-top:5px;
   border : 1px #aaaaaa solid;
   background-color:#f8f8f8;
   padding-left:5;
   padding-bottom:5;
}

.wiki-infobox-title {
   font-weight: bold;
}

.wiki-infobox-entry-title {
   font-weight: bold;
}

.wiki-categories {
   border: 1px #999999 solid; 
   padding:4px;
}

.wikicompare-deleted {
	background: #ffa;
	font-size: smaller;
}

.wikicompare-context {
	background: #eee;
	font-size: smaller;
}

.wikicompare-added {
	background: #cfc;
	font-size: smaller;
}


.wikicompare-lineheader {
    padding-top:10px;
    font-weight: bold;
}

.wikicompare {
    max-width: 50%; 
    overflow-x: automatic;
    background-color:white;
}


.result-table {
   border-color: #666;
   border-width: 0px 0px 1px 1px;
   border-style: solid;
}


.result-table td {
    padding:4px;
    padding-bottom:1px;
    border-color: #666;
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    margin: 0;
}

.result-header {
   background-color:#e8e8e8;
   font-weight: bold;

}

.result-header, .result-header a {
     color:#222;
}



.kml-description {
  border: 1px #ccc solid;
  max-height: 150px; 
  overflow-y: auto;
  padding:4px;
  margin:5px;
  margin-top:2px;
}



xxxpath.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.graph-path {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.graph-link {
  stroke: #666;
}


.graph-arrow {
  fill: #666;
  xxstroke: #666;
  stroke-width: 2.5px;
}


.graph-node-text-visited {
  pointer-events: none;
  font: 10px sans-serif;
}


.graph-node-text-unvisited {
  pointer-events: none;
  font: 10px sans-serif;
  font-weight: bold;  
  color:red;
  text-decoration: underline;
}

.graph-div {
   border: 1px solid #000;
}



.calendartable,  .dategrid {
    border-color: #666;
    border-width: 0px 0px 1px 1px;
    border-style: solid;
}

.calnavtable {
    border-color: #666;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
}

.calnavday, .calheader, .calentry, .daycalendartable td, .dategrid>tr>td  {
    border-color: #666;
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    margin: 0px;
}

.calheader {
   padding-top:10px;
   padding-left:10px;
   background-color:#c3d9ff;
   font-weight: bold;
}

.calday, .calday a {
     text-decoration: none;
     color: #000;
}

.calday {
   font-size: 8pt;
}

.calentry {
}

.calcontents {
	max-height: 150px; 
	overflow-y: auto;
	overflow-x: hidden;
}

.calnav {
}

.calnavmonthheader {
   border-width: 0px 0px 0 0;
   text-align:center;
   background-color:#c3d9ff;
   font-weight: bold;
   font-size: 8pt;
}

.calnavdayheader {
   text-align:center;
   background-color:#c3d9ff;
   font-weight: bold;
   font-size: 8pt;
}

.calnavday {
   text-align:right;
   font-size: 8pt;
   background-color:#c3d9ff;
   padding-left:20px;
   padding-top:5px;
   padding-right:1px;
}

.calnavoffday a, .calnavtheday a {
   font-size: 8pt;
}

.calnavtheday {
   text-align:right;
   font-size: 8pt;
   background-color:#fff;
   padding-left:20px;
   padding-top:5px;
   padding-right:1px;
}


.calnavoffday {
   text-align:right;
   font-size: 8pt;
   background-color:#cccccc;
   padding-left:20px;
   padding-top:5px;
   padding-right:1px;
   border-width: 1px 1px 0 0;
   border-style: solid;
}



.browseblock  a {
   color:#000000;
}

.listrow1 {
   padding:2px;
   padding-bottom:0px;
}

.listrow2 {
   background-color:#edf5ff;
   padding:2px;
   padding-bottom:0px;
}

.description {
   margin-left:20px;
   margin-bottom:10px;
}


.browseblock {
   margin-left:20px;
   border: 2px #999999 solid; 
   max-width: 90%; 
   max-height: 150px; 
   overflow-y: auto;
   overflow-x: visible;

}

.scrollablediv {
   max-height: 350px; 
   overflow-y: auto;
}



.toolbar-selected {
  margin:2px;
  border : 1px solid #ccc;
  padding-left:1px;
  padding-right:1px;
}

.toolbar {
  margin:2px;
  padding-left:1px;
  padding-right:1px;
}

.ramadda-header-layoutbar {
     border:0px solid;
}

.audio-player {
     border:1px solid;
}

.tooltip-inner {
   padding:2px;
   padding-bottom:0px;
   padding-right:0px;
   border : 1px dotted #ccc;
   background-color : #fff;
//   border-top : 0px dotted #ccc;
//   background-color : #f6f6f6;
//   background-color : #edf5ff;

   margin:0px;
}

.tooltip-link-inner {
   border : 1px black solid;
   margin:0px;
   padding:1px;
   background-color : #ffffff;
}

.tooltip-outer {
   border: 1px solid #000;
   margin:0px;
   position: absolute; 
   visibility: hidden; 
   z-index: 1;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  /* IE */
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color='gray');
  /* slightly different syntax for IE8 */
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color='gray')";
}


.moreblock {
   visibility: hidden; 
   display:none;
}


.image_edit_box {
   border : 3px red solid;
   #padding:10px;
   #margin:10px;
   #background-color : black;
   position: absolute; 
   visibility: hidden; 
   z-index: 1;
}


.latlon_box {
   border : 3px red solid;
   padding:0px;
   margin:0px;
   #background-color : black;
   position: absolute; 
   visibility: hidden; 
   #z-index: 1;
}


.floatdiv {
    filter:alpha(opacity=80);
    -moz-opacity:0.80;
     -khtml-opacity: 0.80;
     opacity: 0.80;

   position: absolute; 
   visibility: hidden; 
   z-index: 1;

   background-color:     #67a7e3;
   border: 1px #666666 solid;   
   color: #fff;
   padding:4px;
  font-weight: bold;
}

.error-list {
   border: 1px #666666 solid;     
   max-height: 200px; 
   overflow-y: auto;
   padding:5px;
}



.selectdiv {
   position: absolute; 
   visibility: hidden; 
   z-index: 1000;
   border: 1px #666666 solid;   
   background-color : #FFF;
//Shadow effect
  /* offset left, top, thickness, color with alpha */
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  /* IE */
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color='gray');
  /* slightly different syntax for IE8 */
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color='gray')";
}



.formgroupheader {
   width:80%;
   margin-bottom:4px;
   border-top-left-radius: 7px;
   -moz-border-radius-topleft: 7px;
   -webkit-border-top-left-radius: 7px;
   background-color : #eef6fa;
   border-bottom: 1px #aaa solid;
   font-weight: bold;
   padding-left: 10px;
   padding-top: 3px;
   padding-bottom: 0px;
}


.breadcrumbsseparator {
   font-size: 11pt;
}

.breadcrumbs {
//   font-size: 12pt;
   text-decoration: none;
}

.breadcrumbs a {
   text-decoration: none;
   color: #000;
}

.breadcrumbs a:hover {
   text-decoration: underline;
   color: red;
}


.content {
  min-height:800px;
  margin:0px;
  margin-right:5px;
  background-color:#ffffff;
}


.entrymenuarrow {
  padding-left:5px;
  padding-right:5px;
}


.navlink {
   margin-top: 2px;
}

.navlink a:link, .navlink a:visited {
   color:black;
}

.navlink a:link {
   color:black;
}

.hideshowblock {
   margin-top:0px;
}

.block {
   margin-top:2px;
}



.actionblock {
   margin:0px;
   padding:0px;
   padding-left:18px;
}

.actionblock li {
   margin:0px;
   padding:0px;   
}

a.toggleblocklabellink {
   color:black;
   text-decoration: none;
}

a.toggleblocklabellink:visited {
   text-decoration: none;
}

.toggleblocklabel {
  font-weight: bold;
}




.formtable  {
   padding-top: 8px;
   padding-bottom: 8px;
}

.formtable td {
      xxxvertical-align: middle;
      padding-top: 6px;
      padding-bottom: 2px;
      padding-left: 4px;
      padding-right: 4px;
}

.formlabel, .formlabeltop {
  font-weight: bold;
  text-align:right;
}


.innernote {
   padding-top:10px;
}

.note {
  z-index: 1;
  margin:10px;
  padding-bottom:5px;
  padding-left:5px;
  border : 1px black solid;
  background-color : #ffffcc;
//Shadow effect
  /* offset left, top, thickness, color with alpha */
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  /* IE */
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color='gray');
  /* slightly different syntax for IE8 */
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, Color='gray')";
}

.notetext {
}


.admin-block {
   margin-top:5px;
   padding-left:5px;
   padding-bottom:5px;
}

.admin-block-inner {
   margin-left:20px;
   background-color:#f9f9f9;
   border : 1px #aaaaaa solid;
}

.wiki-toc-wrapper {
    margin:10px;
}

.wiki-toc {
   margin-top:5px;
   border : 1px #aaaaaa solid;
   background-color:#f8f8f8;
   padding-left:5px;
   padding-bottom:5px;
}

.wiki-tocheader {
   font-weight: bold;
}

.wiki-block {
   margin-top:5px;
   border : 1px #aaaaaa solid;
   background-color:#f8f8f8;
   padding-left:5px;
   padding-bottom:5px;
}

.wiki-blockheader {
   font-weight: bold;
}

.wiki-h1, .wiki-h2, .wiki-h3, .wiki-h4, .wiki-h5, .wiki-h6 {
	color: black;
	background: none;
	font-weight: normal;
	margin: 0px;
	padding-top: .5em;
	padding-bottom: .17em;
	border-bottom: 1px solid #aaa;
}
.wiki-h1 { font-size: 188%; }
.wiki-h2 { font-size: 150%; }
.wiki-h3, .wiki-h4, .wiki-h5, .wiki-h6 {
	border-bottom: none;
	font-weight: bold;
}
.wiki-h3 { font-size: 132%; }
.wiki-h4 { font-size: 116%; }
.wiki-h5 { font-size: 100%; }
.wiki-h6 { font-size: 80%;  }

.wiki-hr {
	height: 1px;
	color: #aaa;
	background-color: #aaa;
	border: 0px;
	margin: .2em 0px .2em 0px;
}


.wiki-link {
}


.wiki-link-external {
    background: url(${urlroot}/icons/wiki/external.png) center right no-repeat;
   padding-right: 13px;
}


.wiki-link-noexist {
	color:red;
}


a.wiki-link-noexist {
	color:#aa0000;
}


#treeview_view {
          border:1px solid #000;

}


#treeview_header {
 font-size: 120%;  
}
